<!-- Не используется, удалить! -->

<div class="form-block {% if field.errors %}has-error{% endif %}">
  <div class="block-1">
    {% if field.label %}
      <label class="col-sm-2 control-label {% if style.hide_label %}sr-only{% endif %}">
        {{ field.label }}
      </label>
    {% endif %}
  </div>
  <div class="block-2">
    <textarea name="{{ field.name }}" class="form-textarea" {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %} {% if style.rows %}rows="{{ style.rows }}"{% endif %}>{% if field.value %}{{ field.value }}{% endif %}</textarea>

    {% if field.errors %}
      {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    {% endif %}

    {% if field.help_text %}
      <span class="help-block">{{ field.help_text|safe }}</span>
    {% endif %}
  </div>
</div>
