
<div class="filters">
<form class="filter-form" method="GET">
    {% csrf_token %}
    <label class="label-form-r" for="date_after">Дата от:</label><input class="input-form-r" type="date" id="date_after" name="date_after"><br>
    <label class="label-form-r" for="date_before">Дата до:</label><input class="input-form-r" type="date" id="date_before" name="date_before"><br>
    <label class="label-form-r">Категория:</label> <div class="input-form-r"></div>
    <select name="category" id="post-category">
        <option value="" selected>Ничего</option>
        <option value="TK">Танки</option>
        <option value="HL">Хилы</option>
        <option value="DD">ДД</option>
        <option value="MCH">Торговцы</option>
        <option value="GM">Гилдмастеры</option>
        <option value="QG">Квестгиверы</option>
        <option value="FR">Кузнецы</option>
        <option value="TN">Кожевники</option>
        <option value="PM">Зельевары</option>
        <option value="SM">Мастера заклинаний</option>
    </select><div class="input-form-r"></div>

    <input class="button-form" type="submit" value="Применить"/>
</form>
</div>