{% extends 'cabinet/flatpages/default.html' %}
{% load rest_framework %}

{% block article-content %}
<div class="content-container">
    <div class="body-title" style="width:60%">

        <form action=""  method="post"> {#{% url 'rest_login' %}#}
            {% csrf_token %}
            {% render_form serializer %}
            <button type="submit">Войти</button>
        </form>

        <div>
            <br>
            <a href="{% url 'board_list' %}"> На главную </a>
        </div>
    </div>
</div>
{% endblock article-content %}