{% extends 'cabinet/flatpages/default.html' %}
{% load cabinet_tags %}

{% block header %}
<h2> {% now "jS F Y" %} | Приветствуем! {{profile.0.username}} ({{profile.0.first_name}} {{profile.0.last_name}})</h2>
{% endblock header %}

{% block avatar %}
<div class="avatar-img">
    {% if profile.0.photo %}
        <img src="{{profile.0.photo.url}}" alt="Аватарка"/>
    {% else %}
        <img src="{% get_media_prefix %}default\Orc.jpg" alt="Аватарка"/>
    {% endif %}
</div>
{% endblock avatar %}

{% block avatar-content %}
{% endblock avatar-content %}

{% block nav-content %}
<br>
<div class="nav-content">
    <ul>
        <li><a href="#">Редактировать профиль</a></li>
        <li><a href="{% url 'logout' %}">Выйти</a></li>
    </ul>
</div>
<div class="nav-content">
    <ul>
        <li><a href="{% url 'board-page-create' %}">Добавить публикацию</a></li>
        <li><a href="{% url 'board_list' %}">К публикациям</a></li>
    </ul>
</div>
{% endblock nav-content %}

{% block article-content %}
{% block content-list %}

{% endblock content-list %}
{% endblock article-content %}
