{% extends 'cabinet/flatpages/default.html' %}
{% load cabinet_tags %}

{% block header %}
<h2> {% now "jS F Y" %} | Приветствуем! {{profile.0.username}} ({{profile.0.first_name}} {{profile.0.last_name}})</h2>
{% endblock header %}

{% block avatar %}
<div class="avatar-img">
    {% if profile.0.photo %}
        <img src="{{profile.0.photo.url}}" alt="Аватарка"/>
    {% else %}
        <img src="{% get_media_prefix %}default\Orc.jpg" alt="Аватарка"/>
    {% endif %}
</div>
{% endblock avatar %}

{% block avatar-content %}
<div class="avatar-content">
    <ul class="avatar-content-ul">
        <li><a href="#">Редактировать профиль</a></li>
        <li><a href="{% url 'logout' %}">Выйти</a></li>
    </ul>
</div>
{% endblock avatar-content %}

{% block nav-content %}
<div class="nav-content">
    <ul>
        <li><a href="{% url 'board-page-create' %}">Добавить публикацию</a></li>
        <li><a href="{% url 'board_list' %}">К публикациям</a></li>
    </ul>
</div>
{% endblock nav-content %}

{% block article-content %}

{% block article-content-list %}
{% endblock article-content-list %}
<div class="content-container">
    <h2 align="center">Мои объявления</h2>

    {% for p in posts %}
        <div class="body-title">
            <div class="body-top">
                <div class="in-body">
                    <p> Заголовок: {{p.title|truncatechars:30}} </p>
                </div>
                <div class="in-body">
                    <p> Категория: {{p.category.get_categories_display}} </p>
                </div>
                <div class="in-body">
                    <p> Дата публикации: {{p.date_create}} </p>
                </div>
            </div>
            <div class="in-body">
                <p><strong>Содержание (превью):</strong><br> {{p.preview}} </p>
            </div>
            <div class="in-body end">
                <p><a href="#">Смотреть полностью</a></p>
                <p><a href="#">Смотреть комментарии/отклики к объявлению</a></p>
            </div>
        {# {% empty %} #}
            <!-- <div class="in-body">
                <p> Тут ничего нет! :`( </p>
            </div> -->
        </div>
    {% endfor %}
</div>

<aside class="content-bar">
    <h2>Фильтрация</h2>
</aside>
{% endblock article-content %}
