{% extends 'cabinet/profile.html' %}

{% block content-list %}

<div class="content-container">
    <h2 align="center">Мои комментарии</h2>

    {% if not comments %}
    <span> Вы еще не оставляли комментариев ... </span>
    {% endif %}

    {% for comment in comments %}
        <div class="body-title">
            <div class="body-top">
                <div class="in-body">
                    <span> Автор объявления: {{comment.to_post.author.username}} </span>
                </div>
                <div class="in-body">
                    <span> Заголовок: {{comment.to_post.title|truncatechars:30}} </span>
                </div>
                <div class="in-body">
                    <span> Дата комментария: {{comment.date_create}} </span>
                </div>
            </div>
            <div class="in-body">
                <p><strong>Содержание комментария:</strong><br> {{comment.comment}} </p>
            </div>
            <div class="in-body end">
                {% if comment.accepted %}
                    <span style="color:green"> Комментарий/предложение принято </span>
                {% else %}
                    <span style="color:red"> Комментарий/предложение не принято </span>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<aside class="content-bar">
    <div class="nav-content">
        <h3>Фильтрация</h3>
    </div>
    <div class="nav-content">
        <hr>
        <h3>Пагинация</h3>
    </div>
</aside>

{% endblock content-list %}
