{% extends 'cabinet/flatpages/default.html' %}
{% load cabinet_tags %}

{% block header %}
<h2>Приветствуем! {{profile.username}} ({{profile.first_name}} {{profile.last_name}})</h2>
{% endblock header %}

{% block avatar %}
<div class="avatar-img">
    {% if profile.photo %}
        <img src="{{profile.photo.url}}" alt="Аватарка"/>
    {% else %}
        <img src="{% get_media_prefix %}default\Orc.jpg" alt="Аватарка"/>
    {% endif %}
</div>
{% endblock avatar %}

{% block avatar-content %}
<div class="avatar-content">
    <ul class="avatar-content-ul">
        <li><a href="{% url 'update' profile.id %}">Редактировать</a></li>
        <li><a href="{% url 'logout' %}">Выйти</a></li>
    </ul>
</div>
{% endblock avatar-content %}

{% block nav-content %}
<div class="nav-content">
    <ul>
        <li><a href="#">Добавить публикацию</a></li>
        <li><a href="{% url 'board_list' %}">К публикациям</a></li>
    </ul>
</div>
{% endblock nav-content %}

{% block article-content %}
<!--<a href=" {% url 'profilelist' profile.id %} ">Показать мои статьи</a>
{% block article-content-list %}
{% endblock article-content-list %}-->
<div class="content-container">
    <h2>Мои объявления</h2>
    {% for p in posts %}
    <p> Заголовок: {{p.title}} </p>
    <p> Категория: {{p.category.get_categories_display}} </p>
    <p> {{p.article}} </p>
    Комментарии:<br>
        {% for com in comments %}
            {% if p.title == com.to_post.title %}
                {{com.date_create}} - {{com.author.username}}: {{com.comment}}<br>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>

<aside class="content-bar">
    <h3>Фильтрация</h3>
</aside>
{% endblock article-content %}
