{% extends 'cabinet/profile.html' %}

{% block content-list %}

<div class="content-container">
    <h2 align="center">Объявление</h2>

        <div class="body-title">
            <div class="body-top">
                <div class="in-body">
                    <p> Заголовок: <strong>{{posts.0.title}}</strong> </p>
                </div>
                <div class="in-body">
                    <p> Категория: {{posts.0.category.get_categories_display}} </p>
                </div>
                <div class="in-body">
                    <p> Дата публикации: {{posts.0.date_create}} </p>
                </div>
            </div>
            <div class="in-body-article">
                {% if posts.0.images %}
                <div class="in-body-img">
                    <img src="{{posts.0.images.url}}" alt="Картинка"/>
                </div>
                {% endif %}
                <div class="article">
                    <p><strong>Содержание:</strong><br> {{posts.0.article}} </p>
                </div>
            </div>
            <div class="in-body end">
                <p><a href="{% url 'board_page-update' posts.0.id %}">Редактировать</a></p>
                <p><a href="{% url 'profile' posts.0.author.id %}">Назад</a></p>
                <p><a href="{% url 'board_page-destroy' posts.0.id %}">Удалить</a></p>
            </div>
        </div>
</div>

{% endblock content-list %}