{% extends 'cabinet/flatpages/default.html' %}

{% block article-content %}
<div class="content-container">
    <div class="body-title" style="width:60%">

        <form action="" method="post">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <div class="form-block">
                <div class="block-1"><label for="{{ f.id_for_label }}"> {{f.label}}: </label></div>
                <div class="block-2">
                    {{ f }}
                    <span> {{f.errors}} </span>
                </div>
            </div>
            {% endfor %}
            <button type="submit">Создать</button>
        </form>

        <div>
            <br>
            <a href="{% url 'board_list' %}"> На главную </a>
        </div>
    </div>
</div>
{% endblock article-content %}