{% extends 'cabinet/flatpages/default.html' %}

{% block article-content %}
<div class="content-container">
    <h3 align="center"> Редактирование профиля пользователя </h3>
    <div class="body-title" >
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-block">
                <div class="block-1"><label for="{{ form.username.id_for_label }}"> {{form.username.label}}: </label></div>
                <div class="block-2">
                    {{form.username}}
                    <span>{{form.username.errors}}</span>
                </div>
            </div>
            <div class="form-block">
                <div class="block-1"><label for="{{ form.first_name.id_for_label }}"> {{form.first_name.label}}: </label></div>
                <div class="block-2">
                    {{form.first_name}}
                    <span>{{form.first_name.errors}}</span>
                </div>
            </div>
            <div class="form-block">
                <div class="block-1"><label for="{{ form.last_name.id_for_label }}"> {{form.last_name.label}}: </label></div>
                <div class="block-2">
                    {{form.last_name}}
                    <span>{{form.last_name.errors}}</span>
                </div>
            </div>
            <div class="form-block">
                <div class="block-1"><label for="{{ form.email.id_for_label }}"> {{form.email.label}}: </label></div>
                <div class="block-2">
                    {{form.email}}
                    <span>{{form.email.errors}}</span>
                </div>
            </div>
            <div class="form-block">
                <div class="block-1"><label for="{{ form.photo.id_for_label }}"> {{form.photo.label}}: </label></div>
                <div class="block-2">
                    {{form.photo}}
                    <span>{{form.photo.errors}}</span>
                </div>
            </div>
            <div class="form-block">
                <div class="block-1"><label for="{{ form.date_birth.id_for_label }}"> {{form.date_birth.label}}: </label></div>
                <div class="block-2">
                    {{form.date_birth}}
                    <span>{{form.date_birth.errors}}</span>
                </div>
            </div>
            {{form.mark}}

            <button type="submit">Редактировать</button>
        </form>
        <div class="form-block">
            <div class="block-next">
                <br>
                <a href="{% url 'profile' user.id %}">Назад</a>
            </div>
            <div class="block-next">
                <br>
                <a href="{% url 'change-pass' %}">Изменить пароль</a>

            </div>
            <div class="block-next">
                <br>
                <a href="{% url 'destroy' %}">Удалить профиль</a>
            </div>
        </div>
    </div>
</div>
{% endblock article-content %}