{% load static %}
{% load cabinet_tags %}
<!DOCTYPE html>
<html lang="en, ru">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'announcement/images/favicon.png' %}" type="image/svg+xml"/> <!-- 32×32 -->
    <link rel="stylesheet" href="{% static 'announcement/css/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'announcement/css/forms_style.css' %}" type="text/css">
    <title>Объявления: {% block title %}{% endblock title %}</title>
</head>
<body>
<header>
    {% block header %}
    {% endblock header %}
</header>

<main>
    <div class="base_container">
        <div class="block block-left">
            <div class="in_left">
                <div class="nav-content">
                    {% if request.user.is_authenticated %}
                        <div class="user-ava">
                            <div class="user-ava-img">
                                {% if user.photo %}
                                <img src="{{user.photo.url}}" alt="Аватарка"/>
                                {% else %}
                                <img src="{% get_media_prefix %}default\Orc.jpg" alt="Аватарка"/>
                                {% endif %}
                            </div>
                        </div>
                    {% endif%}
                    <ul>
                        {% if request.user.is_authenticated %}
                        <li>{{user.username}}</li>
                        <li>({{user.first_name}} {{user.last_name}})</li>
                        <li><a href="{% url 'logout' %}">Выйти</a></li>
                        {% else %}
                        <li><a href="{% url 'register' %}">Регистрация</a></li>
                        <li><a href="{% url 'login' %}">Войти</a></li>
                        {% endif%}
                    </ul>
                </div>
                {% block nav-content %}
                {% endblock nav-content %}
            </div>
        </div>
        <div class="block block-right">
            {% block article-content %}
            {% endblock article-content %}
        </div>
    </div>
</main>

<footer>
    <h2>Карачаров Сергей, email: ssp-serg@yandex.ru</h2>
</footer>
</body>
</html>