{% extends 'announcement/flatpages/default.html' %}
{% load cabinet_tags %}

{% block title %}
Автор
{% endblock title %}

{% block header %}
    <h2>Объявление/публикация</h2>
{% endblock header %}

{% block nav-content %}
<div class="nav-content">
    <ul>
        <li><a href="{% url 'board_list' %}">К публикациям</a></li>
        <li><a href="{% url 'add-comment' board_page.0.id %}">Оставить комментарий</a></li>
    </ul>
</div>
<div class="nav-content">
    <hr>
    <h3>Автор</h3>
    <p>{{board_page.0.author.username}}</p>
    {% if board_page.0.author.photo %}
    <div class="block-author-img">
        <img src="{{board_page.0.author.photo.url}}" alt="Автор"/>
    </div>
    {% endif %}
</div>
{% endblock nav-content %}

{% block article-content %}
<div class="page-container">
{% for p in board_page %}
    <div class="page-item-1">
        <span>Автор: {{p.author.username}}</span>
    </div>
    <div class="page-item-2">
        <span>Категория: {{p.category.get_categories_display}}</span>
    </div>
    <div class="page-item-3">
        <span>Дата публикации: {{p.date_create}}</span>
    </div>
    <div class="page-item-4">
        <h3>{{p.title}}</h3>
    </div>
    {% if p.images %}
    <div class="page-item-5">
        <img src="{{p.images.url}}" alt="Картинка"/>
    </div>
    {% endif %}
    <div class="page-item-6">
        <p>{{p.article|linebreaks}}</p>
    </div>
    {% if p.files %}
    <div class="page-item-7">
        <embed src="{{p.files.url}}" type="image/gif">
    </div>
    {% endif %}
{% endfor %}
</div>
<div class="comment-block">
    <h3>Комментарии:</h3>
{% for p in board_page %}
    <div class="page-item-8">
    {% for com in p.comment.all %}
        <div class="com-content">
            <div class="com-ava">
                <div class="com-img">
                    {% if com.author.photo %}
                        <img src="{{com.author.photo.url}}" alt="Автор"/>
                    {% else %}
                        <img src="{% get_media_prefix %}default\Orc.jpg" alt="Аватарка"/>
                    {% endif%}
                </div>
            </div>
            <div class="com-name">
                <span> {{com.author.username}}:</span>
            </div>
            <div class="com-comment">
                <span> {{com.comment}}</span>
            </div>
        </div>
    {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock article-content %}
