{% extends 'announcement/flatpages/default.html' %}

{% block header %}
    <h2>Доска объявлений</h2>
{% endblock header %}


{% block nav-content %}
<div class="nav-content">
    <ul>
        <li><a href="#">Добавить публикацию</a></li>
        <li><a href="#">На главную</a></li>
    </ul>
</div>
{% endblock nav-content %}

{% block article-content %}
{% for post in board_list %}
<div class="post-title">
    <div class="title-title">
        <h3>{{post.title}}</h3>
    </div>
    {% if post.images %}
        <div class="post-image">
            <img src="{{post.images.url}}" alt="Image"/>
        </div>
    {% endif %}
    <div class="post-previews">
        <p>{{post.preview}}</p>
    </div>
    <div class="post-link">
        <a href="#">Смотреть</a>
    </div>
</div>
{% endfor %}
{% endblock article-content %}