<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Приветствие</title>
    <style>
        .table-text {
            font-size: 19px;
            text-align: justify;
        }
        ul > li {
            font-size: 19px;
            list-style-type: none;
        }
        ol > li {
            font-size: 19px;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1 align="center"> ДОСКА ОБЪЯВЛЕНИЙ </h1>
    <table align="center" width="50%">
        <tr>
            <td>
                <p class="table-text">Приветствую! Благодарю за проявленный интерес! Проект несомненно учебный и есть ещё над чем поработать, но я постарался продемонстрировать некоторые навыки.
                    Очень прошу не ломать!
                    Основная цель - это разработка REST API, поэтому каждый endpoint имеет двойное назначение и доступен для обращения.
                </p>
                <p class="table-text">Перейти к просмотру можно по ссылке: <a href="{% url 'board_list' %}" target="_blank">Объявления</a></p>
                <p class="table-text"> Если нет желания регистрироваться, вот пользователь, под которым можно войти:</p>
                <ul>
                    <li>логин: Serg</li>
                    <li>пароль: wqxz9012</li>
                </ul>
                <span class="table-text"> Почту при входе можно написать любую, не проверяется намеренно. </span>
                <p class="table-text"> Код и документацию можно посмотреть на GitHub:</p>
                <ul>
                    <li><a href="https://github.com/SergeyK1983/BulletinBoard.git"> https://github.com/SergeyK1983/BulletinBoard.git </a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <p class="table-text"><strong>Задача:</strong></p>
                <p class="table-text">Необходимо разработать интернет-ресурс для фанатского сервера одной известной MMORPG — что-то вроде доски объявлений. Пользователи нашего ресурса должны иметь возможность:</p>
                <ol>
                    <li>Зарегистрироваться в нём. При регистрации пользователю должно прийти приветственное письмо.</li>
                    <li>После регистрации им становится доступно создание и редактирование объявлений. Объявления состоят из заголовка и текста, внутри которого могут быть картинки.</li>
                    <li>Пользователи могут оставлять комментарии (отклики) на объявления других пользователей, состоящие из простого текста.</li>
                    <li>Пользователь может принять комментарий (отклик), после чего пользователь оставивший отклик должен получить e-mail с оповещением.</li>
                    <li>Также пользователю должна быть доступна приватная страница с его объявлениями, внутри которой он может фильтровать объявления, удалять их и принимать отклики.</li>
                    <li>Кроме того, пользователь обязательно должен определить объявление в одну из следующих категорий: Танки, Хилы, ДД, Торговцы, Гилдмастеры, Квестгиверы, Кузнецы, Кожевники, Зельевары, Мастера заклинаний.</li>
                </ol>
            </td>
        </tr>
    </table>
</body>
</html>