{% extends 'announcement/flatpages/default.html' %}

{% block header %}
    <h2>Доска объявлений. Оставьте свой комментарий.</h2>
{% endblock header %}


{% block article-content %}
<div class="content-container">
    <div class="body-title">
        <form method="POST">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
            <div class="form-block">
                <div class="block-1"><label class="form-label" for="{{ f.id_for_label }}"> {{f.label}}: </label></div>
                <div class="block-2">
                    {{ f }}
                    <span> {{f.errors}} </span>
                </div>
            </div>
            {% endfor %}

            <button type="submit">Отправить</button>
        </form>
        <div>
            <br>
            <a href="{{url_post}}"> Назад </a>
        </div>
    </div>
</div>
{% endblock article-content %}